{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    <!--  데이터를 여러 행에 걸쳐 사용할 때 법위를 지정한다.  -->
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a>
<a href="/articles" class="btn btn-primary">Go to Article</a>
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a>
{{>comments/_comments}}
{{>layouts/footer}}